.formCheck {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  gap: 3px;
}

.error {
  color: rgb(218, 4, 4);
  font-size: 12px;
  letter-spacing: 0.5px;
  font-family: "Roboto", sans-serif;
  padding: 5px 2px;
}


input[type="checkbox"] {
  display: grid;
  place-items: center;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    transition: 0.3s;
    opacity: 0;
  }
  &:checked {
    &::before {
      opacity: 1;
    }
  }
}

